body{

	background-image: linear-gradient(to right, #98FB98, white, #98FB98);
}


ul{

	margin:10;
	padding: 0;
	list-style: none;
	float: left;
	position: relative
	left: 500;
	font-family: Helvetica, sans-serif;



}


ul li{

	float: left;
}



ul a{

	display: block;
	padding: 0 1em;
	line-height: 2.2em;
	text-decoration: none;
	color: black;

	
}

ul a:hover{
	color: white;
	background: black;

}


.estilo{

		padding-top: 40px; 
		padding-left: 400px;


}



#formatacao{
	padding-top: 30px;
	padding-left: 420px;
	/*border: solid 3px black;*/
	color:white;
	background-color: green;
}


#borda{
	/*border: solid 1px black; */
	position: absolute;
	left: 100px;
	right: 100px;
	background:#F5F5DC;
	color: black;
}

.alinhamentolink{

	text-align: center;


}


#manuais{

	font-family: Verdana,Helvetica, sans-serif, sans-serif;
	color: red; 
	
	
}

.center{

	text-align: center;
}





.alinhar{
	text-transform: uppercase;
	border-top: 1px solid #999;
	/*;border-bottom: 1px solid #111;*/
	text-align:left;
	font-size: 90%;
	letter-spacing: 0.1em;
}



.alinhar2{
	text-transform: uppercase;
	border-top: 1px solid #999;
	border-bottom: 2px solid #111;
	text-align:center;
	font-size: 60%;
	letter-spacing: 0.1em;
}


.format{

	padding: center;
	width: 900px;
	/*border-collapse: separate;*/
}


#bordalink{
	/*border: solid 1px black;*/ 
	position: absolute;
	left: 200px;
	right: 200px;
	background:#F5F5DC;
	color: black;
}

#faixaip{

	text-align: center;
	/*border: 2px solid red;*/
	width: 500px;
	margin-left: 600px;
	

}

#bordamanuais{
	float: left;
    width: 600px; 
	
}


#bordafaixaip{
  float: left;

	

}